<?xml version="1.0"?>

<model>
  <name>Volcano DEM Example</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Keunwoo Park</name>
    <email>keunwoopark.524@gmail.com</email>
  </author>

  <description>
    A volcano DEM exmaple model.
  </description>

</model>
