<?xml version="1.0"?>

<model>
  <name>Rough Terrain for CPS Project</name>
  <version>1.0</version>
  <sdf version="1.4">cps_terrain.sdf</sdf>

  <author>
    <name>Keunwoo Park</name>
    <email>keunwoopark.524@gmail.com</email>
  </author>

  <description>
    A rough terrain model.
  </description>

</model>
